.text-white {
  color: white;
}

.text-small {
  font-size: 14px;
}

.text-light {
  color: #909090;
}

.text-normal {
  font-size: 16px;
}

.text-plus {
  font-size: 18px;
}

.h3 {
  font-size: 24px;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}
